<section class="content-header">
  <h1>編輯部落格文章分類
    <small><%= link_to "返回部落格文章分類列表", admin_blog_categories_path %></small>
  </h1>
</section>

<section class="content">

  <div class="row">
    <div class="col-md-6">
      <div class="box box-primary">

        <%= form_for [:admin, @blog_category], html: { role: "form" } do |f| %>
          <div class="box-body">

            <%= render 'admin/shared/error_messages', object: @blog_category %>          

            <div class="form-group">
              <%= f.label :name, "分類名稱" %>
              <%=f.text_field :name, placeholder: "Name", class: "form-control" %>
            </div>

          </div>

          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        <% end %>

      </div><!-- /.box -->
    </div>
  </div>

</section><!-- /.content -->