<% breadcrumb :blog_category, @blog_category %>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">

        <div class="box-header with-border">
          <%= link_to new_admin_blog_category_article_path(@blog_category), class: "btn btn-danger btn-sm" do %>
            <li class="fa fa-fw fa-plus-square"></li> 建立新文章
          <% end %>
        </div>

        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tr>
              <th>ID</th>
              <th>標題</th>
              <th>摘要</th>              
              <th>更新時間</th>
              <th>建立時間</th>
              <th>管理</th>
            </tr>
            
            <% @articles.each do |article| %>
            <tr>
              <td><%= article.id %></td>
              <td><%= link_to article.title, admin_blog_category_article_path(article.blog_category, article) %></td>
              <td><%= raw article.summary %></td>
              <td><%= l(article.updated_at, format: :long) %></td>
              <td><%= l(article.created_at, format: :long) %></td>              
              <td>
              <%= link_to "編輯", edit_admin_blog_category_article_path(article.blog_category, article) %>
              <%= link_to "刪除", [:admin, article.blog_category, article], method: :delete, data: { confirm: "Are you sure?" } %>
              </td>
            </tr>
            <% end %>
            <!-- :confirm => "Are you sure?" -->

            <!--
              <td><span class="label label-success">Approved</span></td>
              <td><span class="label label-warning">Pending</span></td>
              <td><span class="label label-primary">Approved</span></td>
              <td><span class="label label-danger">Denied</span></td>
            -->
          </table>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div>
  </div>
<!-- @categories -->
</section>