      <div class="contact-content">

        <div class="map">
          <div id="map"></div>
        </div>
        <!-- End Map -->

        <div class="contact">
          <div class="container">

            <div class="title">
              <h1><i class="fa fa-star"></i> 聯絡我們 <i class="fa fa-star"></i></h1>
              <div class="title-border"></div>
            </div>

            <p class="subtitle">您有任何問題，歡迎來信詢問！</p>            

            <div class="row">
            
              <% if flash.any? %>
              <div class="col-md-12">
                <% flash.each do |message_type, message| %>
                  <%= content_tag(:div, message, class: "alert alert-#{message_type}" ) %>
                <% end %>
              </div>
              <% end %>

              <div class="col-md-8">
                <!-- <h2>Contact Us</h2> -->

                <%= form_for @message do |f| %>                         
                  <%= f.text_field :name, placeholder: "名字" %>
                  <%= f.text_field :email, placeholder: "信箱" %>
                  <%= f.text_field :subject, placeholder: "問題" %>
                  <%= f.text_area :content, placeholder: "描述您的問題並留下您的聯絡方式" %>
                  <%= recaptcha_tags %><br>
                  <%= f.submit "送出", class: "medium-button button-red" %>
                <% end %>
                
              </div>
              <!-- end contactfort -->
              <div class="col-md-4 touch">
                <% settings = TermsOfService.first %>
                <h2>公司資訊</h2>

                <p><i class="fa fa-map-marker"></i><%= settings.company_address %></p>
                <p><i class="fa fa-phone"></i><%= settings.company_phone %></p>
                <a href="#"><p style="color: #ea5748;" class="mb40"><i class="fa fa-envelope"></i><%= settings.company_mail %></p></a>

                <h2>營業時間</h2>
                <p class="mb50"><%= settings.open_time %></p>                                       
              </div>
            </div>
          </div>

        </div>

      </div>
      <!-- End Contact Content -->

    </div>
    <!-- End content -->


  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/jquery.superfish.js"></script>
  <script type="text/javascript" src="js/jquery.bxslider.js"></script>

  <script type="text/javascript" src="js/bootstrap.js"></script>
  <script type="text/javascript" src="js/retina-1.1.0.min.js"></script>
  <script type="text/javascript" src="js/jquery.nicescroll.min.js"></script>
  <script type="text/javascript" src="js/jquery.nicescroll.min.js"></script>
  <script type="text/javascript" src="js/plugins-scroll.js"></script>
  <script type="text/javascript" src="js/jquery.isotope.min.js"></script>
  <script type="text/javascript" src="js/jquery.imagesloaded.min.js"></script>
  <script type="text/javascript" src="js/jquery.appear.js"></script>
  <script type="text/javascript" src="js/jquery.countTo.js"></script>
  <script src="js/jquery.parallax.js"></script>

  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript" src="js/gmap3.min.js"></script>
  <!-- jQuery KenBurn Slider  -->
  <script type="text/javascript" src="js/jquery.themepunch.revolution.min.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
  <script src='https://www.google.com/recaptcha/api.js'></script>
