<section class="content-header">
  <h1>在< <%= @event_category.name %> >分類 - 建立新活動

    <small><%= link_to "返回活動列表", admin_event_category_path(@event_category) %></small>
  </h1>
</section>

<section class="content">

  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">

        <%= form_for [:admin, @event_category, @event], html: { multipart: true, role: "form" } do |f| %>
          <div class="box-body">

            <%= render 'admin/shared/error_messages', object: @event %>   

            <div class="form-group">
              <%= f.label :home_image, "首頁活動圖（小圖）（建議尺寸：370 x 215）" %>
              <%= f.file_field :home_image, accept: 'image/jpeg, image/gif, image/jpg, image/png' %>
              <p class="help-block">請自行將圖片調整為建議尺寸再進行上傳，謝謝！</p>
            </div>       

            <div class="form-group">
              <%= f.label :event_image, "活動圖（大圖）（建議尺寸：770 x 404）" %>
              <%= f.file_field :event_image, accept: 'image/jpeg, image/gif, image/jpg, image/png' %>
              <p class="help-block">請自行將圖片調整為建議尺寸再進行上傳，謝謝！</p>
            </div> 

            <div class="form-group has-error">
              <%= f.label :title, "標題" %>
              <%= f.text_field :title, placeholder: "Title", class: "form-control" %>
            </div>

            <div class="form-group has-error">
              <%= f.label :publish_at, "發佈時間" %>
              <%= f.datetime_select :publish_at, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :summary, "摘要" %>
              <%= f.text_area :summary, id: "event_summary", placeholder: "Summary", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :content, "內容" %>
              <%= f.text_area :content, id: "event_content", placeholder: "Content", class: "form-control" %>
            </div>

          </div>

          <div class="box-footer">
            <button type="submit" class="btn btn-primary">發表新活動</button>
          </div>
        <% end %>

      </div><!-- /.box -->
    </div>
  </div>

</section><!-- /.content -->

<script src="//cdn.ckeditor.com/4.4.3/standard/ckeditor.js"></script>

<script type="text/javascript">
  $(function () {
    // Replace the <textarea id="editor1"> with a CKEditor
    // instance, using default configuration.
    CKEDITOR.replace('event_summary');
    CKEDITOR.replace('event_content');
    //bootstrap WYSIHTML5 - text editor
    //$(".textarea").wysihtml5();
  });
</script>