<div class="container">
  <div class="row">
    <div class="col-md-offset-4 col-md-4">

      <div class="title">
        <h1><i class="fa fa-star"></i> 會員登入 <i class="fa fa-star"></i></h1>
        <div class="title-border"></div>
      </div>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="inputs">
          <%= f.label :email, "電子信箱" %>
          <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control typing" %>        

        
          <%= f.label :password, "密碼" %>
          <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control typing" %>
        

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me, "記住我" %>
            </div>
          <% end -%>

        
          <%= f.submit "登入", class: "btn btn-danger btn-block mb10" %>
        </div>
      <% end %>

      <%= render "users/shared/links" %>
    </div>
  </div>
</div>

<%= render "users/shared/common_js" %>