			<div class="blog-container">
				<div class="container">
					<div class="row">
						<div class="col-lg-8">
							<div class="blog-single clearfix">

								<div class="blog-img">
									<% if @article.cover == "article_image" %>
										<%= image_tag @article.article_image_url %>
									<% else %>
										<iframe class="videoembed" src="http://www.youtube.com/embed/<%= @article.youtube_video %>"></iframe>
									<% end %>
								</div>

								<div class="blogsingle-inner">

									<h1><%= @article.title %></h1>
									<div class="post-meta">
										<a href="#comments" class="move_to_comments"><i class="fa fa-comment"></i> <%= @article.comments_count %> 則迴響</a>
										
									<!-- </div>
									<div class="post-meta"> -->
										<!-- <a href="#"><i class="fa fa-user"></i> Joeby Ragpa</a>
										<a href="#"><i class="fa fa-bookmark"></i> Design</a> -->
										
									</div>

									<%= raw @article.content %>



<!-- 									<blockquote>Remember to avoid translating your dreams too literally. Say you dream you are driving a fast sports car at ninety miles per hour around dangerous curves. You lose control, crash and die. Does this mean you're going to have a car crash and die? Highly unlikely. It is far more probable that the dream is telling you something much less literal about yourself.
									<span>Elizabeth Gilbert</span>
									</blockquote> -->

									<div class="blog-tags">
									<i class="fa fa-clock-o"></i><%= l(@article.created_at, format: :long ) %>
										<!-- <i class="fa fa-tags"></i>
										<a href="#">Creative</a>, <a href="#">Elegant</a>,<a href="#"> Clothing</a>, <a href="#">Fashion</a>, <a href="#">Beauty</a> -->
									</div>

<!-- 									<div class="blog-share">
									<p>Share</p>			
										<ul>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
											<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
											<li><a href="#"><i class="fa fa-instagram"></i></a></li>
											<li><a href="#"><i class="fa fa-envelope"></i></a></li>
										</ul>
										<div class="clear"></div>
									</div> -->
									<!-- End Share -->
									<div class="clear"></div>

<!-- 									<div class="about-author">
										<img src="upload/author.jpg" alt="">
										<div class="author-text">
											<h4>camille ragpa <span> | Fashion Designer</span></h4>
											<p>We possess within us two minds. So far I have written only of the conscious mind. I would now like to introduce you to your second mind, the hidden and mysterious subconscious. We possess within us two minds.</p>
										</div>
										<div class="clear"></div>
									</div> -->



									<!-- end related -->

									<div class="comment-tree" id="comments">
										<h1 class="main-title"><%= @article.comments_count %> 則迴響</h1>
										
										<ul>
											<% @comments.each do |comment| %>
											<li>
												<div class="comment-text">
													<div class="user-spec">
														<h5><i class="fa fa-user" style="margin-right: 10px"></i> <%= comment.name %></h5>														
														<div class="clear"></div>
													</div>
													<p><%= comment.content %></p>
													<span class="reply"><%= l(comment.created_at, format: :long ) %></span>
												</div>
												<div class="clear"></div>
											</li>
											<!-- reply -->
<!-- 											<li>
												<ul class="depth">
													<li>
														<div class="comment-text">
															<div class="user-spec">
																<h5>Mary Jane</h5>
																<span>July 15, 2014 at 11:27 pm</span>
																<div class="clear"></div>
															</div>
															<p>So, I thing this is a good Html theme and I want to use it for my travel blog. Thank you for the good design and coding.</p>
															<a href="#" class="reply">Reply <i class="fa fa-comments"></i></a>
														</div>
														<div class="clear"></div>
													</li>
												</ul>			
											</li> -->
											<!-- reply -->
											<% end %>
										</ul>
										
									</div>

									<div class="leave-comment clearfix" id="leave_comment">
										<h1 class="main-title">發表迴響</h1>
										<div class="main-border"></div>

										<%= form_for @comment do |f| %>

											<div class="row">

												<% if flash.any? %>
												<div class="col-md-12">
													<% flash.each do |message_type, message| %>
														<%= content_tag(:div, message, class: "alert alert-#{message_type}" ) %>
													<% end %>
												</div>
												<% end %>

												<div class="col-md-4">
													<%= f.label :name do %>
														名稱 <span>*</span>
													<% end %>
													<%= f.text_field :name %>					
												</div>
											</div>
											
											<%= f.label :content do %>
												內容 <span>*</span>
											<% end %>
											<%= f.text_area :content %>

											<%= hidden_field_tag 'path', request.path %>

											<%= f.submit "張貼迴響", class: "medium-button button-red" %>
										<% end %>
										
									</div>
									<!-- <%#= render template: 'comments/new', locals: { comment: @comment } %> -->
<!-- 									<div class="nextpages">
										<a href="#" class="prevpage"><i class="fa fa-angle-left"></i> Previous Post</a>
										<a href="#" class="nextpage">Next Post <i class="fa fa-angle-right"></i></a>
										<div class="clear"></div>
									</div> -->

								</div>
								<!-- end signle inner -->

							</div>
							<!-- End Signle Blog -->
						</div>
						<!-- End Main Blog -->

						<div class="col-md-4">
							<%= render 'blog_categories/blog_aside' %>
							<!-- End aside -->
						</div>
					</div>
				</div>
			</div>

	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/jquery.superfish.js"></script>
	<script type="text/javascript" src="/js/jquery.bxslider.js"></script>

	<script type="text/javascript" src="/js/bootstrap.js"></script>
	<script type="text/javascript" src="/js/retina-1.1.0.min.js"></script>
	<script type="text/javascript" src="/js/jquery.flexslider.js"></script>
	<script type="text/javascript" src="/js/jquery.nicescroll.min.js"></script>
	<script type="text/javascript" src="/js/plugins-scroll.js"></script>
  <script type="text/javascript" src="/js/jquery.isotope.min.js"></script>
	<script type="text/javascript" src="/js/jquery.imagesloaded.min.js"></script>
	<script type="text/javascript" src="/js/jquery.appear.js"></script>
	<script type="text/javascript" src="/js/jquery.countTo.js"></script>
	<script src="/js/jquery.parallax.js"></script>
  <!-- jQuery KenBurn Slider  -->
  <script type="text/javascript" src="/js/jquery.themepunch.revolution.min.js"></script>
	<script type="text/javascript" src="/js/script.js"></script>
	<script>
	$(document).ready(function(){
		$(".move_to_comments").click(function(){
			$("html , body").animate({scrollTop:$("#comments").offset().top}, 800);
		})

		var section = '<%= params[:section] %>'
		if(section)
		$("html , body").animate({scrollTop:$("#"+section).offset().top}, 800);
	});
	</script>