<% breadcrumb :new_product_category %>

<section class="content">

  <div class="row">
    <div class="col-md-6">
      <div class="box box-primary">

        <div class="box-header with-border">
          <h3 class="box-title"> 新增商品分類</h3>
        </div>      

        <%= form_for [:admin, @prod_category], html: { role: "form" } do |f| %>
          <div class="box-body">

            <%= render 'admin/shared/error_messages', object: @prod_category %>          

            <div class="form-group">
              <%= f.label :name, "分類名稱" %>
              <%=f.text_field :name, placeholder: "Name", class: "form-control" %>
            </div>

          </div>

          <div class="box-footer">
            <button type="submit" class="btn btn-danger">送出</button>
            <%= link_to "返回上一頁", admin_prod_categories_path, class: "btn btn-primary" %>
          </div>
        <% end %>

      </div><!-- /.box -->
    </div>
  </div>

</section><!-- /.content -->