							<aside>

								<div class="blog-search mb30">
									<input type="text" placeholder="Search">
									<input type="submit" value="">
								</div>

								<div class="shop-categories mb30">
									<h1 class="asidetitle">文章分類</h1>
									<ul>
										<% @categories.each do |category| %>
										<li>
											<%= link_to blog_category_path(category) do %>
												<%= category.name %>	<span>(<%= category.articles_count %>)</span>
											<% end %>
										</li>
										<% end %>
									</ul>
								</div>

								<div class="normal-tabs left-widget mb30">
									<div class="tabs-widget clearfix">
							    		<ul class="tab-links clearfix">
							    			<li class="active"><a href="#latest_articles">最新文章</a></li>
							    			<li class=""><a href="#latest_comments">最新迴響</a></li>
							    		</ul>

							    		<div id="latest_articles" style="display: block;">
							    			<ul>
							    				<% @articles.each do |article| %>
							    				<li>
							    					<%= link_to blog_category_article_path(article.blog_category, article) do %>
							    						<%= article.title %>
							    						<%= raw article.summary %>
							    						<span><i class="fa fa-clock-o"></i><%= I18n.l(article.created_at, format: :long ) %></span>
							    					<% end %>
							    				</li>
							    				<% end %>
							    			</ul>
							    		</div>

							    		<div id="latest_comments" style="display: none;">
							    			<ul>
							    				<% @comments.each do |comment| %>
							    				<li>
							    					<%= link_to blog_category_article_path(comment.commentable.blog_category, comment.commentable, section: "comments") do %>
							    					<%= comment.commentable.title %>
							    					<% end  %>
								    				<!-- <a href="#"> -->
								    					<%= comment.content %>
								    					<!-- <p>Sweet Pick lorem ipsum is a simple and elegant</p> -->
								    					<span>
								    					<i class="fa fa-clock-o"></i><%= l(comment.created_at, format: :long ) %>&nbsp;
															<i class="fa fa-user" style="margin-right: 10px"></i> <%= comment.name %>
								    					</span>
								    				
							    				</li>
							    				<% end %>

<!-- 							    				<li><a href="#">
							    					<img src="upload/tabswidget2.jpg" alt="">
							    					<p>Sweet Pick lorem ipsum is a simple and elegant</p>
							    					<span><i class="fa fa-clock-o"></i> 15 June, 2014</span>
							    				</a></li> -->
							    			</ul>
							    		</div>

									</div>
									
								</div>
								<!-- End Normal Tabs -->

							</aside>