<div class="blog-container">
  <div class="container">
    <div class="row">

      <div class="col-md-8">

        <% @articles.each do |article| %>
        <div class="blog-post mb50">

          <div class="blog-item">

            <div class="blog-img">
              <% if article.cover == "article_image" %>
                <%= link_to blog_category_article_path(article.blog_category, article) do %>
                  <%= image_tag article.article_image_url %>                      
                <% end %>
              <% else %>
                <iframe class="videoembed" src="http://www.youtube.com/embed/<%= article.youtube_video %>"></iframe>
              <% end %>

              <div class="calendar">
                <p><%= article.created_at.strftime("%d") %></p>
                <span><%= article.created_at.strftime("%b") %></span> 
              </div>
              <div class="blog-content">

                <h1><%= highlight(article.title, params[:article_keyword]) %></h1>
                <div class="post-meta">
                  <%= link_to blog_category_article_path(article.blog_category, article, section: "comments") do %>
                    <i class="fa fa-comment"></i> <%= article.comments_count %> <%= t('blog_content.comment_counts') %>
                  <% end %>
                  
                </div>
                <%= raw highlight(article.summary, params[:article_keyword]) %>

                <%= link_to t('blog_content.read_more'), blog_category_article_path(article.blog_category, article), class: "small-button button-red mb10" %>
                <!-- <a href="#" class="small-button button-red mb10">Read More</a> -->

              </div>
            </div>
          </div>

        </div>
        <% end %>

                  
          <!-- <div class="pagenation blog-pagenation clearfix"> -->
            <%= paginate @articles %>
          <!-- </div>  -->
        
          <div class="clear"></div>

      </div>

      <div class="col-md-4">
        <%= render 'blog_categories/blog_aside' %>
        <!-- End aside -->
      </div>

    </div>
  </div>
</div>


  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/jquery.superfish.js"></script>
  <script type="text/javascript" src="/js/jquery.bxslider.js"></script>

  <script type="text/javascript" src="/js/bootstrap.js"></script>
  <script type="text/javascript" src="/js/retina-1.1.0.min.js"></script>
  <script type="text/javascript" src="/js/jquery.flexslider.js"></script>
  <script type="text/javascript" src="/js/jquery.nicescroll.min.js"></script>
  <script type="text/javascript" src="/js/plugins-scroll.js"></script>
  <script type="text/javascript" src="/js/jquery.isotope.min.js"></script>
  <script type="text/javascript" src="/js/jquery.imagesloaded.min.js"></script>
  <script type="text/javascript" src="/js/jquery.appear.js"></script>
  <script type="text/javascript" src="/js/jquery.countTo.js"></script>
  <script src="/js/jquery.parallax.js"></script>
  <!-- jQuery KenBurn Slider  -->
  <script type="text/javascript" src="/js/jquery.themepunch.revolution.min.js"></script>
  <script type="text/javascript" src="/js/script.js"></script>