<div class="arrivals">
	<div class="container">

		<div class="filters">

			<div class="filter clearfix">
				<div class="holder">
					<ul>
						<li><a href="#" class="active" data-filter="*">全部商品</a></li>
						<% @prod_categories.each do |category| %>
						<li><a href="#" class="choose" data-filter=".class<%= category.id%>"><i class="fa fa-star"></i><%= category.name %></a></li>
						<% end %>
					</ul>
					<div class="holder-border"></div>
				</div>
			</div>

			<div class="clear"></div>

			<div class="demo1 clearfix">
				<ul class="filter-container clearfix">

					<% @prod_categories.each do |category| %>
						<% category.products.on_sale.each do |product| %>
							<li class="class<%= category.id %>">
								<div class="arrival-overlay product-shadow">
								<%= link_to prod_category_product_path(category, product) do %>
									<%= image_tag product.home_image_url %>
								<% end %>
								<div class="arrival-mask">
									<%= form_for add_to_cart, remote: true do |f| %>
										<%= f.hidden_field :quantity, value: 1, min: 1 %>
										<%= f.hidden_field :product_id, value: product.id %>
										<%= f.submit "加入購物車", class: "medium-button button-red add-cart" %>
									<% end %>		
									<%= link_to "商品詳細介紹", [category, product], class: "wishlist" %>							
								</div>

								</div>
								<div class="arr-content">
									<%= link_to prod_category_product_path(category, product) do %>
									<p><%= product.name %></p>
									<% end %>
									<ul>
										<li><span class="low-price">NT&nbsp;<%= product.selling_price %></span></li>
									</ul>
									
									<div class="stars"><img src="/miracode/upload/stars.png" alt=""></div>
								</div>
							</li>
						<% end %>
					<% end %>

				</ul>
			</div>

		</div>	
		<!-- End Filters -->

	</div>
</div>