    <style type="text/css">
      #content{background: #FFFFFF !important;}
    </style>

    <div id="content" >
      <div class="collection clearfix">
        <div class="container">

          <div class="row">

            <% @company_infos.each do |company_info| %>
            <div class="col-md-4">
              <div class="coll-item clearfix">

                <div class="coll-box">
                  <%= link_to "javascript:void(0)" do %>
                    <%= image_tag company_info.image, alt: "", name: "img#{company_info.id}" %>
                  <% end %>

                  <div class="senqi-coll-text">
                    <p><%= company_info.title %></p>
                  </div>
                </div>

              </div>
            </div>
            <% end %>

          </div>

          <div class="row margin-left-right-zero">

            <% @company_infos.each_with_index do |company_info, index| %>
            <div class="col-md-12 about-description" id="img<%= company_info.id %>" style="<%= 0 == index ? nil : 'display:none;'  %>">
              <%= raw company_info.content %>
            </div>

           <% end %>

          </div>

        </div>
      </div>
    </div>

  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/jquery.superfish.js"></script>
  <script type="text/javascript" src="/js/jquery.bxslider.js"></script>

  <script type="text/javascript" src="/js/bootstrap.js"></script>
  <script type="text/javascript" src="/js/retina-1.1.0.min.js"></script>
  <script type="text/javascript" src="/js/jquery.flexslider.js"></script>
  <script type="text/javascript" src="/js/jquery.nicescroll.min.js"></script>
  <script type="text/javascript" src="/js/plugins-scroll.js"></script>
  <script type="text/javascript" src="/js/jquery.isotope.min.js"></script>
  <script type="text/javascript" src="/js/jquery.imagesloaded.min.js"></script>
  <script type="text/javascript" src="/js/jquery.appear.js"></script>
  <script type="text/javascript" src="/js/jquery.countTo.js"></script>
  <script src="/js/jquery.parallax.js"></script>
  <!-- jQuery KenBurn Slider  -->
  <script type="text/javascript" src="/js/jquery.themepunch.revolution.min.js"></script>
  <script type="text/javascript" src="/js/script.js"></script>
  <script type="text/javascript">
  $(document).ready(function(){
    $('img').click(function(){
      $('.about-description').hide();
      $('#'+$(this).attr('name')).fadeIn('slow');
    })
  });
  </script>
