	<div id="container">
		<!-- Header
		    ================================================== -->
	<%= render 'layouts/header' %>
	<%= render 'layouts/slider' %>

	</div>

			<div id="content">
			
			<div class="collection clearfix">
				<div class="container">
					
					<div class="row">
						
						<div class="col-md-4">
							<div class="coll-item clearfix">

								<div class="coll-box">
										<a href="#"><img src="/images/event-A.png" alt=""></a>
<!-- 										<div class="coll-text">
											<span>Summer Collection</span>
											<p>For Women</p>
											<a href="#"> Get The Look <i class="fa fa-angle-right"></i></a>
										</div> -->
								</div>

							</div>
						</div>
						
						<div class="col-md-4">
						<div class="coll-item clearfix">

							<div class="coll-box">
								<a href="#"><img src="/images/event-B.png" alt=""></a>
<!-- 								<div class="coll-text">
									<span>Collection 2014</span>
									<p>Accessories</p>
									<a href="#"> Get The Look <i class="fa fa-angle-right"></i></a>
								</div> -->
							</div>
						</div>
						</div>
						
						<div class="col-md-4">
						<div class="coll-item clearfix">

							<div class="coll-box">
								<a href="#"><img src="/images/event-C.png" alt=""></a>
<!-- 								<div class="coll-text">
									<span>Starts From $150</span>
									<p>Men Collection</p>
									<a href="#"> Get The Look <i class="fa fa-angle-right"></i></a>
								</div> -->
							</div>
						</div>
						</div>

					</div>

				</div>
			</div>
			<!-- End Collection -->

			<!-- our work portfolio -->
			<div class="arrivals">
				<div class="container">


					<div class="filters">
						<div class="filter clearfix">
							<div class="holder">
								<ul>
									<li><a href="#" class="active" data-filter="*">全部商品</a></li>
									<li><a href="#" data-filter=".class1"><i class="fa fa-star"></i>絲快染</a></li>
									<li><a href="#" data-filter=".class2"><i class="fa fa-star"></i>光摩棒</a></li>
									<li><a href="#" data-filter=".class3"><i class="fa fa-star"></i>指膜</a></li>
									<li><a href="#" data-filter=".class4"><i class="fa fa-star"></i>髮膜<i class="fa fa-star"></i></a></li>
								</ul>
								<div class="holder-border"></div>
							</div>
						</div>
						<div class="clear"></div>

						<div class="demo1 clearfix">
							<ul class="filter-container clearfix">
								<li class="class1">
									<div class="arrival-overlay">
									<%= link_to product5_path do %>
										<img src="/images/product_thumb_A.png" alt="">
									<% end %>
<!-- 										<img src="/miracode/upload/new.png" alt="" class="new">
										<div class="arrival-mask">
											<a href="#" class="medium-button button-red add-cart">Add to Cart</a>
											<a href="#" class="wishlist"><i class="fa fa-heart"></i> Add to Wishlist</a>
											<a href="#" class="compare"><i class="fa fa-retweet"></i>Add to Compare</a>
										</div> -->
									</div>
									<div class="arr-content">
										<%= link_to product5_path do %>
										<p>絲快染1分鐘快速染髮劑 - 自然棕</p>
										<% end %>
										<!-- <a href="/pages/product5"><p>絲快染1分鐘快速染髮劑 - 自然棕</p></a> -->
										<ul>
											<li><span class="low-price">NT499</span></li>
										</ul>
										
										<div class="stars"><img src="/miracode/upload/stars.png" alt=""></div>
									</div>
								</li>

								<li class="class1">
									<div class="arrival-overlay">
									<%= link_to product55_path do %>
										<img src="/images/product_thumb_B.png" alt="">
									<% end %>
<!-- 										<img src="/miracode/upload/sale.png" alt="" class="sale">
										<div class="arrival-mask">
											<a href="#" class="medium-button button-red add-cart">Add to Cart</a>
											<a href="#" class="wishlist"><i class="fa fa-heart"></i> Add to Wishlist</a>
											<a href="#" class="compare"><i class="fa fa-retweet"></i>Add to Compare</a>
										</div> -->
									</div>
									<div class="arr-content">
										<%= link_to product55_path do %>
										<p>絲快染1分鐘快速染髮劑 - 酒紅棕</p>
										<% end %>
										<ul>
											<li><span class="low-price">NT499</span></li>
										</ul>
										
										<div class="stars"><img src="/miracode/upload/stars.png" alt=""></div>
									</div>
								</li>
								<li class="class1">
									<div class="arrival-overlay">
										<%= link_to product6_path do %>
										<img src="/images/product_thumb_C.png" alt="">
										<% end %>
		<!-- 								<div class="arrival-mask">
											<a href="#" class="medium-button button-red add-cart">Add to Cart</a>
											<a href="#" class="wishlist"><i class="fa fa-heart"></i> Add to Wishlist</a>
											<a href="#" class="compare"><i class="fa fa-retweet"></i>Add to Compare</a>
										</div> -->
									</div>
									<div class="arr-content">
										<%= link_to product6_path do %>
										<p>絲快染1分鐘快速染髮劑 - 深邃黑</p>
										<% end %>
										<ul>
											<li><span class="low-price">NT499</span></li>
										</ul>
										
										<div class="stars"><img src="/miracode/upload/stars.png" alt=""></div>
									</div>
								</li>
								<li class="class1">
									<div class="arrival-overlay">
										<%= link_to product7_path do %>
										<img src="/images/product_thumb_D.png" alt="">
										<% end %>
<!-- 										<img src="/miracode/upload/out.png" alt="" class="out">
										<div class="arrival-mask">
											<a href="#" class="medium-button button-red add-cart">Add to Cart</a>
											<a href="#" class="wishlist"><i class="fa fa-heart"></i> Add to Wishlist</a>
											<a href="#" class="compare"><i class="fa fa-retweet"></i>Add to Compare</a>
										</div> -->
									</div>
									<div class="arr-content">
									<%= link_to product7_path do %>
										<p>絲快染1分鐘快速染髮劑 - 自然黑</p>
									<% end %>
										<ul>
											<!-- <li><span class="high-price">NT 499</span></li> -->
											<li><span class="low-price">NT499</span></li>
										</ul>
										
										<div class="stars"><img src="/miracode/upload/stars.png" alt=""></div>
									</div>
								</li>


							</ul>
						</div>
					</div>	
					<!-- End Filters -->

				</div>

			</div>
			<!-- end our work portfolio -->

			<div class="middle-content">
				<div class="container">
					<h1>BEAUTY <span>IS THE KEY</span></h1>
<!-- 					<div class="middle-shipp">
						<p>We will ship your item within 3 days</p>
						<div class="mid-border"></div>
					</div> -->
				</div>
			</div>

			<!-- blog -->
			<div class="blog">
				<div class="container">
					<div class="title">
						<h1><i class="fa fa-star"></i> 部落格 <i class="fa fa-star"></i></h1>
						<div class="title-border"></div>
					</div>

					<div class="row">
						<div class="col-md-4">
							<div class="blog-item">
								<div class="blog-img">
									<a href="#"><img src="/images/blog-A.png" alt=""></a>
									<div class="calendar">
										<p>02</p>
										<span>dec</span>	
									</div>
									<a href="#"><h3>【5個要知道的錯誤潔面觀念！】</h3></a>
									<div class="blog-border"></div>
									<p>調查顯示，高達7成女性沒有選對適合自己的潔面產品，洗臉方法也有不同程度的錯誤！若不及時改正，這些錯誤的潔面觀念，反而會令皮膚變差！</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="blog-item">
								<div class="blog-img">
									<a href="#"><img src="/images/blog-B.png" alt=""></a>
									<div class="calendar">
										<p>12</p>
										<span>jan</span>	
									</div>
									<a href="#"><h3>【5招教你防止頭髮出油】</h3></a>
									<div class="blog-border"></div>
									<p>頭髮出油真是女生的天敵呀！快來看看有什麼方法改善！！</p>
									<p>▲ 洗髮前注意事項</p>
									<p>1.洗髮前，先梳理頭髮一次，確保頭髮不纏結。</p>
									<p>2.選擇合適的洗髮產品。</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="blog-item">
								<div class="blog-img">
									<a href="#"><img src="/images/blog-C.png" alt=""></a>
									<div class="calendar">
										<p>18</p>
										<span>MAr</span>	
									</div>
									<a href="#"><h3>【女性黃金水果 越吃越美麗】</h3></a>
									<div class="blog-border"></div>
									<p>注重身材的朋友應該有發現，現在市面上開始流行起覆盆莓熱！覆盆莓？不就是一種水果嗎？事情可沒有那麼簡單，從現在起，別再這樣小看它囉～</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end blog -->

<!-- 			<div class="partners">
				<div class="container">
					<div class="row">
						<div class="col-sm-2">
							<a href="#"><img src="/miracode/upload/partners1.png" alt=""></a>
						</div>
						<div class="col-sm-2">
							<a href="#"><img src="/miracode/upload/partners2.png" alt=""></a>
						</div>
						<div class="col-sm-2">
							<a href="#"><img src="/miracode/upload/partners3.png" alt=""></a>
						</div>
						<div class="col-sm-2">
							<a href="#"><img src="/miracode/upload/partners4.png" alt=""></a>
						</div>
						<div class="col-sm-2">
							<a href="#"><img src="/miracode/upload/partners5.png" alt=""></a>
						</div>
						<div class="col-sm-2">
							<a href="#"><img src="/miracode/upload/partners6.png" alt=""></a>
						</div>
					</div>
				</div>
			</div> -->


		</div>
