<div class="grid-item2 mb30">
  <div class="row">

    <div class="arrival-overlay col-md-4">
      <%= link_to [category, product] do %>
        <%= image_tag product.home_image_url %>
      <% end %>
    </div>

    <div class="col-md-8">
      <div class="list-content">
        <h1><%= highlight(product.name, params[:product_keyword]) %></h1>
          <div class="list-midrow">

            <ul>
              <% if product.original_price > product.selling_price %>
                <li><span class="high-price"><%= number_to_currency(product.original_price, locale: I18n.locale) %></span></li>
              <% end %>
              <li><span class="low-price"><%= number_to_currency(product.selling_price, locale: I18n.locale) %></span></li>
            </ul>

            <div class="clear"></div>
          </div>

          <p class="list-desc"><%= raw highlight(product.brief, params[:product_keyword]) %></p>    

          <div class="list-downrow">
            <%= form_for add_to_cart, remote: true do |f| %>
              <%= f.hidden_field :quantity, value: 1, min: 1 %>
              <%= f.hidden_field :product_id, value: product.id %>
              <%= f.submit t('products.add_to_cart'), class: "medium-button button-red add-cart" %>
            <% end %>
            <div class="clear"></div>                             
          </div>
          
      </div>
    </div>
  </div>
</div>