<tr>
	<td >
		<%= form_for order_item, remote: true do |f| %>
		<div class="row">
			<!-- <div class="col-md-2"><%#= image_tag product.home_image_url, width: 120, class: "img-rounded" %></div> -->
			<div class="col-md-12">
				<table class="table table-striped remove_cart_border">
					<tbody>
						<tr>
							<th rowspan="3" width="15%"><%= image_tag product.home_image_url, width: 120, class: "img-rounded" %></th>
							<th colspan="4" width="85%"><h6 style="margin-bottom:0px"><%= product.name %></h6></th>
						</tr>

						<tr>
							<td width="20%">單價</td>
							<td width="20%">數量</td>
							<td width="20%">小計</td>
							<td width="25%"></td>
						</tr>

						<tr>
							<td><%= order_item.unit_price %></td>
							<td><%= f.number_field :quantity, min: 1, style: "width:80%;text-align:center" %></td>
							<td><%= order_item.total_price %></td>
							<td>						
								<div class="btn-group btn-group-sm" role="group">
									<%= f.submit "更新數量", class: "btn btn-success" %>
									<%= link_to "下次再買", order_item, data: { confirm: "從購物車移除此商品嗎？" }, method: :delete, remote: true, class: "btn btn-danger" %>							
								</div>	
							</td>				
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<% end %>
	</td>								      
</tr>

<!-- #737373!important -->