			<div class="checkout">

				<div class="container">

					<div class="check-anchor clearfix mb40">
						<div class="holder">
							<ul>
								<li class="active"><a href="javascript:void(0);"><i class="fa fa-star"></i> 購物車</a></li>
								<li><a href="javascript:void(0);"><i class="fa fa-star"></i> 結帳</a></li>
							</ul>
							<div class="holder-border"></div>
						</div>
					</div>

					<div class="check-infos">
						<div class="row">
							<div class="col-md-8">

								<div class="check-details">
									<table class="table">
								      <thead>
								        <tr>
								        	<th>購物清單</th>					          
								        </tr>
								      </thead>

								      <tbody class="check-body">
								      <% order_items.each do |order_item| %>
								      	<%= render 'carts/cart_row', product: order_item.product, order_item: order_item %>
								      <% end %>
								      </tbody>

								    </table>

								    <div class="coupon">
								    	<% if flash[:empty_cart] %>
								    	<div class="alert alert-warning fade in red-alert" role="alert">
									      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
									      <%= flash[:empty_cart] %>
									    </div>
									    <% end %>
									    
									    <% if current_cart.order_items.count > 0 %>
								    	<%= link_to "前往結帳", new_order_path, class: "proceed" %>
								    	<% end %>
								    	<!-- <a href="#" class="proceed">前往結帳</a> -->
								    </div>
								</div>


							</div>
							<div class="col-md-4">
								<div class="check-aside">
									<div class="orders mb20">
										<h6>商品結算</h6>
										<p>商品金額小計：<span>NT <%= current_cart.subtotal %></span></p>
										<p>運費：<span>NT <%=  fee = current_cart.order_items.count == 0 ? 0 : shipping_fee %></span></p>
										<p class="bd0"><strong>訂單總金額： <span>NT <%= current_cart.subtotal + fee %></span></strong></p>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>
			<!-- End Product Single -->
			
