<!DOCTYPE html>
<html>
<head>
  <title>Miracode</title>  
  <meta charset="utf-8" content="text/html" >
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <style type="text/css">
  .table {
    width: 100%;
    margin-bottom: 20px;
    text-align: left;
  }

  .table-bordered, tr, td {
    border: 1px solid #ddd;
  }

  .table th {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Noticia Text';
    padding: 15px !important;
  }

  .table td{ padding: 15px !important; }
  .container{
    width: 1170px;
    margin: 15px auto;
  }

  .title {
    position: relative;
    margin-bottom: 15px;
  }

  .title h1 {
    color: #000;
    font-size: 28px;
    font-family: 'Noticia Text';
    font-weight: bold;
    text-transform: uppercase;
    display: table;
    padding: 10px;
    margin: 0 auto;
    position: relative;
  }

  td > a{
    color: #5bb75b;
    text-decoration: none;
    font-size: 16px;

  }

  .center{
    text-align: center;
  }
  </style>
</head>

<body>
  <div class="container">
  <div class="title">
    <h1>會員 <%= @order.name %> 已經付款完成，請準備出貨</h1>
  </div>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="20%">交易訂單編號</th>
          <th width="35%">訂購金額</th>
          <th width="30%">下單日期</th>
          <th width="15%">訂單狀態</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><%= @order.merchant_trade_no %></td>
          <td><%= @order.total %></td>
          <td><%= l(@order.created_at, format: :long) %></td>
          <td><%= @order.order_status.name %></td>
        </tr>
      </tbody>

      <tfoot>
        <tr>
          <th>付款方式</th>
          <td colspan="3"><%= @order.payment.name %></td>
        </tr>

        <tr>
          <th>付款時間</th>
          <td colspan="3"><%= l(@order.get_payment_time, format: :long) %></td>
        </tr>

        <tr>
          <th>收貨人</th>
          <td colspan="3"><%= @order.name %></td>
        </tr>

        <tr>
          <th>聯絡電話</th>
          <td colspan="3"><%= @order.cellphone %></td>
        </tr>

        <tr>
          <th>地址</th>
          <td colspan="3"><%= @order.address %></td>
        </tr>           
      </tfoot>                                                                              
    </table>     

    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="20%">商品明細</th>
          <th width="35%">品名</th>
          <th width="15%">單價</th>
          <th width="15%">數量</th>
          <th width="15%">小計</th>
        </tr>
      </thead> 

      <tbody>
        <% @order.cart.order_items.each_with_index do |item, index| %>
        <tr>
          <td><%= index+1 %></td>
          <td><%= item.product.name %></td>
          <td><%= item.unit_price %></td>
          <td><%= item.quantity %></td>
          <td><%= item.total_price %></td>
        </tr>
        <% end %>
      </tbody>

      <tfoot>
        <tr>
          <td colspan="3"></td>
          <th>運費</th>
          <td><%= @order.shipping_fee %></td>
        </tr>

        <tr>
          <td colspan="3"></td>
          <th>合計</th>
          <td><%= @order.total %></td>
        </tr>

      </tfoot>
    </table>          
  </div>
</body>

</html>