<% breadcrumb :edit_product, @product %>

<section class="content">

  <div class="row">

    <div class="col-md-6">

      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">編輯商品</h3>
        </div>

        <%= form_for [:admin, @category ,@product], html: { multipart: true, role: "form" } do |f| %>
        	<div class="box-body">

            <%= render 'admin/shared/error_messages', object: @product %>

            <%= image_tag @product.home_image_url, class: "img-thumbnail", width: "150", height: 'auto'  %>
		        <div class="form-group">
	            <%= f.label :home_image, "首頁產品圖（最佳尺寸：270 x 320）" %>
	            <%= f.file_field :home_image, accept: 'image/jpeg, image/gif, image/jpg, image/png' %>
	            <p class="help-block">請自行將圖片調整為最佳尺寸再進行上傳，謝謝！</p>
	          </div>

            <% @product.pictures.each do |pic| %>              
              <%= image_tag pic.img_url, class: "img-thumbnail", width: "150", height: 'auto'  %>
              <%= check_box_tag "pic[]", pic.id, nil, id: "pic#{pic.id}" %>
              <%= label_tag "pic#{pic.id}", "刪除此圖" %><br>
            <% end %>

	          <div class="form-group">
	          	<%= f.fields_for :pictures, @product.pictures.build do |builder| %>
	          	<%= builder.label :img, "單一產品頁的此產品圖片（最佳尺寸：600 x 499）" %>
	            <%= builder.file_field :img, multiple: true, name: "pictures[image][]", accept: 'image/jpeg, image/gif, image/jpg, image/png' %>
	            <% end %>
	            <p class="help-block">請自行將圖片調整為最佳尺寸再進行上傳，謝謝！</p>
	          </div>

<!-- 	          <div class="form-group">
	          	<%#= f.label :prod_category_id, "選擇產品目錄"%>
	          	<%#= f.select :prod_category_id, ProdCategory.all.collect{ |c| [c.name, c.id] }, { selected: @product.prod_category_id }, { :class => "form-control" } %>
	          </div> -->

            <div class="form-group">
              <%= f.label :youtube_code, "Youtube 影片代碼" %>
              <%=f.text_field :youtube_code, placeholder: "例如：etHsPVvupdo,etHsPVvupdo,etHsPVvupdo", class: "form-control" %>
              <p class="help-block">如有多個影片代碼，請用逗號隔開！</p>
              <p class="help-block">如何取得影片代碼？例如：https://www.youtube.com/watch?v=<span style="color:red">etHsPVvupdo</span></p>
              <p class="help-block">紅字部份即為影片代碼</p>
              <p class="help-block">第一個代碼的影片預設會自動播放</p>
            </div>

            <div class="form-group">
              <%= f.label :name, "產品名稱" %>
              <%=f.text_field :name, placeholder: "Name", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :part_number, "產品編號（不可重複）" %>
              <%=f.text_field :part_number, placeholder: "Part number", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :original_price, "原價" %>
              <%=f.number_field :original_price, placeholder: "Original price", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :selling_price, "售價" %>
              <%=f.number_field :selling_price, placeholder: "Selling price", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :brief, "產品簡述" %>
              <%=f.text_area :brief, placeholder: "Brief", id: "brief_editor", class: "form-control" %>
            </div>

        	</div>

      	  <div class="box-footer">
          	<button type="submit" class="btn btn-danger">更新</button>
            <%= link_to "返回上一頁", :back, class: "btn btn-primary" %>
          </div>
        <% end %>
<!--         <form role="form">
          <div class="box-body">
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
              <label for="exampleInputFile">File input</label>
              <input type="file" id="exampleInputFile">
              <p class="help-block">Example block-level help text here.</p>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Check me out
              </label>
            </div>
          </div>

          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form> -->

      </div><!-- /.box -->
    </div>
  </div>

</section><!-- /.content -->

<script src="//cdn.ckeditor.com/4.4.3/standard/ckeditor.js"></script>
    <script type="text/javascript">
      $(function () {
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
        CKEDITOR.replace('brief_editor');
        //bootstrap WYSIHTML5 - text editor
        //$(".textarea").wysihtml5();
      });
    </script>