<div class="container">
  <div class="row">
    <div class="col-md-offset-4 col-md-4">

      <div class="title">
        <h1><i class="fa fa-star"></i> 忘記密碼？ <i class="fa fa-star"></i></h1>
        <div class="title-border"></div>
      </div>

			<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
				<div class="inputs">
				  <%= devise_error_messages! %>

				  <%= f.label :email, "電子信箱" %>
	        <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control typing" %>

				  <%= f.submit "重新設定密碼", class: "btn btn-danger btn-block mb10" %>

			  </div>
			<% end %>

			<%= render "users/shared/links" %>
		</div>
	</div>
</div>
<%= render "users/shared/common_js" %>