			<div class="tabs-single">
				<div class="container">

					<div id="tabs">
					  <ul>
					    <li class="active"><a href="#tabs-1">產品介紹</a></li>
<!-- 					    <li><a href="#tabs-2">ADDITIONAL INFORMATION</a></li>
					    <li><a href="#tabs-3">REVIEWS</a></li> -->
					  </ul>
					  <div class="tab-border"></div>
					  <div id="tabs-1">

							<div class="row">		

								<div class="col-md-12 col-sm-12 col-xs-12">
									<%= image_tag '/images/light-1.jpg' , class: "img-responsive"%><br/>
								</div>

								<div class="col-md-12 col-sm-12 col-xs-12">
									<%= image_tag '/images/light-2.jpg' , class: "img-responsive"%><br/>
								</div>

								<div class="col-md-12 col-sm-12 col-xs-12">
									<%= image_tag '/images/light-3.jpg' , class: "img-responsive"%><br/>
								</div>

								<div class="col-md-12 col-sm-12 col-xs-12">
									<%= image_tag '/images/light-4.jpg' , class: "img-responsive"%><br/>
								</div>

								<div class="col-md-12 col-sm-12 col-xs-12">
									<%= image_tag '/images/light-5.jpg' , class: "img-responsive"%><br/>
								</div>
								
								<div class="col-md-12 col-sm-12 col-xs-12">
									<%= image_tag '/images/light-6.jpg' , class: "img-responsive"%>
								</div>

								</div>
							</div>

							</div>
					  	
					  </div>

					  </div>
					</div>