<% breadcrumb :single_event_category, @event_category %>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">

        <div class="box-header with-border">
          <%= link_to new_admin_event_category_event_path(@event_category), class: "btn btn-danger btn-sm" do %>
            <li class="fa fa-fw fa-plus-square"></li> 建立新活動
          <% end %>
        </div>

        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tr>
              <th>ID</th>
              <th>標題</th>
              <th>摘要</th>              
              <th>更新時間</th>
              <th>建立時間</th>
              <th>管理</th>
            </tr>
            
            <% @events.each do |event| %>
            <tr>
              <td><%= event.id %></td>
              <td><%= link_to event.title, admin_event_category_event_path(event.event_category, event) %></td>
              <td><%= raw event.summary %></td>
              <td><%= l(event.updated_at, format: :long) %></td>
              <td><%= l(event.created_at, format: :long) %></td>              
              <td>
              <%= link_to "編輯", edit_admin_event_category_event_path(event.event_category, event) %>
              <%= link_to "刪除", admin_event_category_event_path(event.event_category, event), :method => :delete, data: { confirm: "確定刪除活動嗎？" } %>
              </td>
            </tr>
            <% end %>
            

            <!--
              <td><span class="label label-success">Approved</span></td>
              <td><span class="label label-warning">Pending</span></td>
              <td><span class="label label-primary">Approved</span></td>
              <td><span class="label label-danger">Denied</span></td>
            -->
          </table>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div>
  </div>
<!-- @categories -->
</section>