<div class="cart">
	<%= link_to carts_path, class: "cartmain" do %>
	購物車  /  NT <%= current_cart.subtotal %>
	<% end %>
	<div class="card-icon">
		<img src="/images/cart.png" alt="">
		<div class="shop-items"><%= current_cart.order_items.sum(:quantity) %></div>
	</div>
	<div class="hover-cart">

		<% if current_cart.order_items.count > 0 %>
			<% current_cart.order_items.each do |item| %>
				<div class="hover-box">
					<%= image_tag item.product.home_image_url, width: 80, class: "left-hover img-rounded" %>
					<div class="hover-details">
						<p><%= item.product.name %></p>
						<span>NT <%= item.unit_price %></span>
						<div class="quantity">數量: <%= item.quantity %></div>
					</div>
					<div class="clear"></div>
				</div>
			<% end %>
		<% end %>

		<div class="subtotal">
			消費金額： <span>NT <%= current_cart.subtotal %></span>
		</div>
		<%= link_to "查看購物車", carts_path, class: "viewcard" %>
		<!-- <button class="proceedcard"> 前往結帳</button> -->

	</div>
</div>