<footer>
  <% settings = TermsOfService.first %>
  <div class="inner-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="f-about">
            <h1><%= t('footer.about') %></h1>
            <p class="mb20 footer_p"><%= t('footer.company_intro') %></p>
          </div>
        </div>
        
        <div class="col-md-3">
          <div class="gettouch">
            <h1><%= t('footer.contact') %></h1>
            <p><i class="fa fa-home"></i><%= t('footer.company_name') %></p>
            <p><i class="fa fa-home"></i><%= t('footer.company_addr') %></p>
            <p><i class="fa fa-phone"></i><%= t('footer.company_phone') %></p>
            <p class="mb20"><i class="fa fa-envelope"></i><%= t('footer.company_email') %></p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="infos">
            <h1><%= t('footer.web_map') %></h1>
            <ul>
              <li><%= link_to "• "+t('navigation.about_us'), about_path %></li>
              <li><%= link_to "• "+t('navigation.products'), prod_categories_path %></li> 
              <li><%= link_to "• "+t('navigation.blog'), blog_categories_path %></li>
              <li><%= link_to "• "+t('navigation.events'), promotions_path %></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3">
          <div class="account">
            <h1><%= t('footer.find_us') %></h1>
            <ul class="footer-socials">
              <li><%= link_to settings.facebook_url do %><i class="fa fa-facebook"></i><% end %></li>
              <li><%= link_to settings.youtube_url do %><i class="fa fa-youtube"></i><% end %></li>
            </ul>
          </div>
        </div>

      </div>
    </div>

  </div>
  <!-- end contanir & inner-footer -->

  <div class="container">
    <div class="last-div">
      <div class="row">
        <div class="copyright">
          © 2015 Senqi.co ltd.  |  <a href="#">Designed by Senqi</a>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
 
</footer>