			

			<div class="container">
				<!-- Navigation -->
				<nav id="nav">
					<ul id="navlist" class="sf-menu clearfix">
						<li class="current">
							<%= link_to "首頁", root_path %>
						</li>

						<li>
							<%= link_to "公司簡介", about_path %>
						</li>

						<li><%= link_to "商品櫥窗", prod_categories_path %>
							<ul class="sub-menu">
								<% ProdCategory.all.each do |category| %>
								<li><%= link_to category.name, prod_category_path(category) %></li>
								<% end %>
							</ul>
						</li>

						<li>
							<%= link_to "部落格", blog_categories_path %>
						</li>

						<li><%= link_to "最新消息", '#' %></li>
						<li><%= link_to "聯絡我們", contact_path %></li>

					</ul>
				</nav>
		    	<!-- Navigation -->
			</div>