<div class="container">
	<!-- Navigation -->
	<nav id="nav">
		<ul id="navlist" class="sf-menu clearfix">
			<li class="current">
				<%= link_to t('navigation.home'), root_path %>
			</li>

			<li><%= link_to t('navigation.about_us'), about_path %>	</li>

			<li><%= link_to t('navigation.products'), prod_categories_path %>
				<ul class="sub-menu">
					<% current_language_product_categories.each do |category| %>
					<li><%= link_to category.name, prod_category_path(category) %></li>
					<% end %>
				</ul>
			</li>

			<li><%= link_to t('navigation.blog'), blog_categories_path %>	</li>
			<li><%= link_to t('navigation.events'), promotions_path %></li>
			<li><%= link_to t('navigation.contact_us'), contact_path %></li>

		</ul>
	</nav>
  	<!-- Navigation -->
</div>