			<div class="tabs-single">
				<div class="container">

					<div id="tabs">
					  <ul>
					    <li class="active"><a href="#tabs-1">產品介紹</a></li>
<!-- 					    <li><a href="#tabs-2">ADDITIONAL INFORMATION</a></li>
					    <li><a href="#tabs-3">REVIEWS</a></li> -->
					  </ul>
					  <div class="tab-border"></div>
					  <div id="tabs-1">

							<!-- <iframe width="" height="315" src="https://www.youtube.com/embed/etHsPVvupdo" frameborder="0" allowfullscreen></iframe> -->
							<div class="row">

					 
					  <iframe class="col-lg-12 col-md-12 col-sm-12 col-xs-12" width="1140" height="315" src="https://www.youtube.com/embed/etHsPVvupdo" frameborder="0" allowfullscreen></iframe>
					  <div class="col-md-12 col-sm-12 col-xs-12">&nbsp;</div>				


								<div class="col-md-12 col-sm-12 col-xs-12">
									<%= image_tag '/images/detail-A.png' , class: "img-responsive"%><br/>
								</div>
									<div class="col-md-12 col-sm-12 col-xs-12">
									<%= image_tag '/images/detail-B.png' , class: "img-responsive"%><br/>
								</div>
									<div class="col-md-12 col-sm-12 col-xs-12">
									<%= image_tag '/images/detail-C.png' , class: "img-responsive"%><br/>
								</div>
									<div class="col-md-12 col-sm-12 col-xs-12">
									<%= image_tag '/images/detail-D.png' , class: "img-responsive"%><br/>
								</div>
									<div class="col-md-12 col-sm-12 col-xs-12">
									<%= image_tag '/images/detail-E.png' , class: "img-responsive"%>
								</div>

								</div>

							</div>
					  	
					  </div>

					  </div>
					</div>