			<div class="top-line">
				<div class="container">

					<div class="left-line">

					<% if notice %>
					  <p class="alert alert-success"><%= notice %></p>
					<% end %>
					<% if alert %>
					  <p class="alert alert-danger"><%= alert %></p>
					<% end %>

						<div class="mobile-a">
							<% if user_signed_in? %>
							<%= link_to edit_user_registration_path do %><i class="fa fa-user"></i><% end %>							
							<%= link_to destroy_user_session_path, method: :delete do %><i class="fa fa-sign-out"></i><% end %>
							<% else %>

							<%= link_to new_user_session_path do %>登入<% end %>
							<% end %>
						</div>
					</div>

					<div class="right-line clearfix">

					<ul>
						<% if user_signed_in? %>
						<li class="user_name"><a><%= t('top_line.greeting') %><%= current_user.name %></a></li> 
						  <li><%= link_to t('top_line.account'), orders_path %></li> 
						  <li><%= link_to t('top_line.logout'), destroy_user_session_path, method: :delete %></li> 

						  <% if current_user.try(:admin?) %>
						  <li><%= link_to t('top_line.backend'), admin_root_path  %></li>
						  <% end %>
						<% else %>					 
						  <li><%= link_to t('top_line.login'), new_user_session_path %></li>
							<li><%= link_to t('top_line.fb_login'), user_omniauth_authorize_path(:facebook) %></li>
							<li><%= link_to t('top_line.register'), new_user_registration_path %></li>
						<% end %>
						<li><%= link_to t('top_line.cht'), locale: "zh-TW" %><li>
						<%= link_to t('top_line.en'), locale: "en" %>
					</ul>

					<%= render 'layouts/shared/mobile_version_cart' %>

					</div>
					<div class="clear"></div>
				</div>
			</div>