			<div class="top-line">
				<div class="container">

					<div class="left-line">

					<% if notice %>
					  <p class="alert alert-success"><%= notice %></p>
					<% end %>
					<% if alert %>
					  <p class="alert alert-danger"><%= alert %></p>
					<% end %>

						<div class="mobile-a">
							<% if user_signed_in? %>
							<%= link_to edit_user_registration_path do %><i class="fa fa-user"></i><% end %>							
							<%= link_to destroy_user_session_path, method: :delete do %><i class="fa fa-sign-out"></i><% end %>
							<% else %>

							<%= link_to new_user_session_path do %>登入<% end %>
							<% end %>
						</div>
					</div>

					<div class="right-line clearfix">

					<ul>
						<% if user_signed_in? %>
						<li class="user_name"><a>嗨，<%= current_user.name %></a></li> 
						  <li><%= link_to '會員中心', orders_path %></li> 
						  <li><%= link_to "登出", destroy_user_session_path, method: :delete %></li> 

						  <% if current_user.try(:admin?) %>
						  <li><%= link_to "後台", admin_root_path  %></li>
						  <% end %>
						<% else %>					 
						  <li><%= link_to "登入", new_user_session_path %></li>
							<li><%= link_to "Facebook登入", user_omniauth_authorize_path(:facebook) %></li>
							<li><%= link_to "加入會員", new_user_registration_path %></li>
						<% end %>
					</ul>

					<%= render 'layouts/shared/mobile_version_cart' %>

					</div>
					<div class="clear"></div>
				</div>
			</div>