			<div class="upper-header">
				<div class="container">

					<div class="search-input">
						<%= form_tag search_product_path, method: :get do %>
							<%= text_field_tag :product_keyword, params[:product_keyword], placeholder: "搜尋商品" %>
							<%= submit_tag "", name: nil %>
						<% end %>
					</div>

					<% if logo_img %>
					<div class="logo">
						<%= link_to root_path do %>
							<%= image_tag logo_img.logo_url, alt: "" %>
						<% end %>			
					</div>
					<% end %>

					<%= render 'layouts/cart_text' %>

					<div class="clear"></div>

				</div>
				<!-- End container -->	
			</div>
			<!-- End Upper-header -->	
		