<!DOCTYPE html>
<html>
<head>
  <title>Miracode</title>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <%= javascript_include_tag "application" %>

	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

	<link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,800,900,200,100' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Noticia+Text:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Raleway:500,600,700,400,200,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

	<% v = ( 'a'..'z').to_a.shuffle[0..3].join %>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" media="screen">	

  <!-- REVOLUTION BANNER CSS SETTINGS -->
  <link rel="stylesheet" type="text/css" href="/css/fullwidth.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="/css/settings.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="/css/flexslider.css" media="screen">
	<link rel="stylesheet" type="text/css" href="/css/font-awesome.css" media="screen">
	<link rel="stylesheet" type="text/css" href="/css/magnific-popup.css" media="screen">
	<link rel="stylesheet" type="text/css" href="/css/jquery.bxslider.css" media="screen">
	<link rel="stylesheet" type="text/css" href="/css/style.css?v=<%=v%>" media="screen">
	<link rel="stylesheet" type="text/css" href="/css/responsive.css" media="screen">
	
	<link rel="shortcut icon" href="/images/favicon.png" type="image/png" />
	<link rel="icon" href="/images/favicon.png" type="image/png" />
</head>
<body>


	<!-- Container -->
	<div id="container">
		<div id="hero">
		<%= image_tag "/images/small_hero.png" %>
		</div> <!-- End hero -->
		<!-- Header -->
		<header class="clearfix green-header">
			<!-- topline 最上黑色區域部份(My Account, ......., Login) -->
			<!-- <%#= render 'layouts/top_line' %> -->
			<!-- Upper-header 上面 logo 白色區域 -->
			<%= render 'layouts/upper_header' %>
			<!-- logo區域框，下黑線 -->
			<div class="nav-border"></div>
			<!-- 導覽列（Home, SHOP, ...） -->
			<%= render 'layouts/navigation' %>
		</header>
		<!-- Slider -->
		<%= render 'layouts/slider' if params[:controller] == "pages" && params[:action] == "index" %>

		<!-- content -->
		<div id="content">
		
			<%= yield %>

			<!-- 放合作夥伴的logo -->
			<!-- <%#= render 'layouts/partners' %> -->
		</div>

		<!-- footer -->
		<%= render 'layouts/footer' %>

	</div>	<!-- End Container -->

</body>

<!-- console.log("width = " + width + ", height = " + height); -->

<script type="text/javascript">
	$(document).ready(function(){
		var $window = $(window), //視窗物件
				$hero = $('#hero').css('opacity', 0).show(),
				width = $hero.width(), //取得 hero 寬度
				height = $hero.height(), //取得 hero 長度
				diffX = 10, //hero 與右方邊距
				diffY = 10, //hero 與下方邊距
				speed = 800; //移動速度，花多少ms完成移動，越小越快

				
		//先將 hero 移到定點		
		$hero.css({
			top : $(document).height(), //移到最下面
			left : $window.width()-width-diffX, //移到右邊定點
			opacity : 1 //解除透明
		});
		// console.log("top : $(document).height() = " + $(document).height());
		// console.log("left : $window.width()-width-diffX = " + $window.width());
		// console.log("width = hero 寬度 : " + width);

    //加上scroll和resize事件
    $window.on("scroll resize", function(){
      //控制 hero 移動
      $hero.stop().animate({
          top: $(this).scrollTop() + $(this).height()/2.5 - height - diffY,
          left: $(this).scrollLeft() + $(this).width() - width - diffX
      },speed);
    }).scroll(); //啟動scroll


	});
</script>

</html>