<div class="container">
  <div class="row">
    <div class="col-md-offset-4 col-md-4">

      <div class="title">
        <h1><i class="fa fa-star"></i> 註冊 <i class="fa fa-star"></i></h1>
        <div class="title-border"></div>
      </div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <div class="inputs">
          <%= f.label :email, "電子信箱" %>
          <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control typing" %>

          <%= f.label :name, "名稱" %>
          <%= f.text_field :name, placeholder: "Name", class: "form-control typing" %>

          <%= f.label :password, "密碼" %>
          <% if @validatable %>
          <em>(長度最少為 <%= @minimum_password_length %> 個字元)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control typing" %>

          <%= f.label :password_confirmation, "密碼確認" %>
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password confirmation", class: "form-control typing" %>

          <%= f.submit "建立帳號", class: "btn btn-danger btn-block mb10" %>

        </div> 
      <% end %>

      <%= render "users/shared/links" %>
    </div>      
  </div>
</div>

<%= render "users/shared/common_js" %>